@using System.Collections.Generic;
@using System.Data;
@using System.Web;
@using System;

@using Library.Models.Author;
@using Library.Models.DTO;

@model DTOModel;

@{
    if (Model.Author.Author_Id == 0)
    {
        ViewData["Title"] = "New Author";
    }
    else
    {
        ViewData["Title"] = "Edit Author";
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="note">
    <p>
        @*
            @(Model.Author.Author_id == 0 ? "New" : "Edit") A Author
        *@
    </p>
</div>

<ul class="nav nav-tabs" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
        <button
            class="nav-link active text-red-1"
            id="pills-home-tab"
            data-bs-toggle="pill"
            data-bs-target="#pills-datos-generales"
            type="button"
            role="tab"
            aria-controls="pills-home"
            aria-selected="true"
        >
            Personal Information
        </button>
    </li>
</ul>
<form
    action="/Author/NewAuthor"
    method="POST"
    id="save"
    onsubmit="return Validations()"
>
    <div
        class="tab-content"
        id="pills-tabContent"
        style="background-color: white"
    >
        <div
            class="tab-pane fade show active"
            id="pills-datos-generales"
            role="tabpanel"
            aria-labelledby="pills-home-tab"
        >
            <div class="form-content bk mt-1">
                @if (Model.Author.Author_Id == 0) {
                <input
                    type="text"
                    class="form-control bk"
                    id="AuthorID"
                    asp-for="Author.Author_Id"
                    hidden=""
                    value="0"
                />
                } else {
                <input
                    type="text"
                    class="form-control bk"
                    id="AuthorID"
                    asp-for="Author.Author_Id"
                    hidden=""
                    value="@Model.Author.Author_Id"
                />
                }

                <fieldset class="scheduler-border" id="personal-information">
                    <legend class="scheduler-border text-red-1">
                        Personal Information
                    </legend>
                    <div class="row">
                        @*
                        <div class="col-sm-1">
                            <label for="Author_Id">ID</label>
                            <input
                                type="text"
                                asp-for="Author.Author_Id"
                                class="form-control bk"
                                id="Author_Id"
                                title="ID Author"
                                placeholder=""
                                value="@Model.Author.Author_Id"
                                readonly
                            />
                        </div>
                        *@

                        <div class="col-sm-3">
                            <label for="Name">Name</label>
                            <input
                                type="text"
                                class="form-control bk"
                                asp-for="Author.Name"
                                id="Name"
                                title="Full Name"
                                placeholder="Name"
                                value="@Model.Author.Name"
                                autofocus 
                            />
                        </div>
                        <div class="col-sm-2">
                            <label for="Nationality">Nationality</label>
                            <input
                                type="text"
                                class="form-control bk"
                                id="Nationality"
                                asp-for="Author.Nationality"
                                title="Nationality"
                                placeholder="Nationality"
                                value="@Model.Author.Nationality"
                            />
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-sm-2">
                            
                            @* 
                            private DateTime created_at; 
                            private DateTime
                            updated_at; private Boolean active = false; 
                            *@

                            <label for="CreationDate">Creation Date</label>
                            <input 
                                type="datetime-local"
                                asp-for="Author.Created_at"
                                data-date-format="yyyy-MM-dd" 
                                class="form-control bk" 
                                id="CreationDate"
                                title="Date Created"
                                placeholder=""
                                value=@(Model.Author.Author_Id == 0 ? DateTime.Now.ToString("yyyy-MM-ddThh:mm:ss") : Model.Author.Created_at.ToString("yyyy-MM-ddThh:mm:ss"))
                                readonly
                            />
                            @*Si es disabled el valor no lo manda*@
                            @* value="@DateTime.Now.ToString("yyyy-MM-ddThh:mm:ss")" *@
                            @* value="@@Model.Author.Created_at.ToString("yyyy-MM-ddThh:mm:ss")" *@
                        </div>

                        @if (@Model.Author.Author_Id != 0) {
                        <div class="col-sm-2" style="width: 17%">
                            <label for="DateUpdated">Last Update Date</label>
                            <input 
                                type="datetime-local"
                                asp-for="Author.Updated_at"
                                data-date-format="yyyy-MM-dd" 
                                class="form-control bk" 
                                id="DateUpdated" 
                                title="Date Updated"
                                placeholder=""
                                value="@Model.Author.Updated_at.ToString("yyyy-MM-ddThh:mm:ss")"
                                readonly
                                />
                        </div>

                        <div class="col-sm-1">
                            <label for="Active">Active</label>
                            @if (@Model.Author.Author_Id == 0) {
                            <select
                                id="Active"
                                class="form-select bk"
                                title=""
                                asp-for="Author.Active"
                            >
                                <option value="true" selected>Yes</option>
                                <option value="false">No</option>
                            </select>
                            } else {
                            <select
                                id="Active"
                                class="form-select bk"
                                title=""
                                asp-for="Author.Active"
                            >
                                @if (Model.Author.Active == true) {
                                <option value="true" selected>Yes</option>
                                <option value="false">No</option>                                
                                } else {
                                 <option value="true">Yes</option>
                                <option value="false" selected>No</option> 
                                }
                            </select>
                            }
                        </div>
                        }
                    </div>
                </fieldset>
                <br />

                <button 
                    type="submit" 
                    class="btn btn-success"
                    title="Create the author with all the previously entered data" 
                    id="SaveData">
                        Save
                </button>
                @if (Model.Author.Author_Id != 0)
                {
                    <a 
                        href="/Author/ConsultAuthor?Author_Id=@Model.Author.Author_Id" 
                        class="btn btn-primary text-white"
                        title="Consult Author data" 
                        style="margin-left:5px;">
                            Consult Author
                    </a>
                }
                <a 
                    href="/Author/AuthorList/"
                    class="btn btn-dark text-white" 
                    style="margin-left:5px;"
                    title="Go back to the page where you can find the list of all authors"
                >
                        Back to the list of Authors
                </a>
                <br />
            </div>
        </div>
    </div>
</form>

<script
    src="~/js/validations.js"
    type="text/javascript"
    charset="UTF-8"
    asp-append-version="true"
></script>
