@using Library.Models.Client;
@using Library.Models.DTO;

@model DTOModel;

@* 
    Ideas:
    Buscador de clientes 
    Disable Button en Edit View
 *@

@{
    ViewData["Title"] = "Client Management";
    ViewData["Objeto"] = "Client";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-9 mt-3">
    <h2 
        class="text-red-2" 
        title="General title of the page"
    >
        @ViewData["Title"]
    </h2>
</div>
<div class="col-12 border-top-red-3 p-3">
    <div class="row">
        <div class="col-2">
            <a 
                href="/Client/NewClient" 
                value="register"
                title="Create a new customer button"
                class="btn btn-success redondeado text-white"
                style="width: max-content;"
            >
                Add new Client
            </a>
        </div>
    </div>
    <br />
    @if (Model.ClientList != null)
    {
        @if (Model.ClientList.Count() >= 1)
        {
            <table 
                id="table" 
                class="table table-striped table-bordered"
                style="width:100%" 
                title="List of all clients"
            >
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Gender</th>
                        <th>Martial Status</th>
                        <th>Birthdate</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (ClientModel client in Model.ClientList)
                    {
                        <tr>
                            <td>@client.Client_Id</td>
                            <td>@client.Name</td>
                            <td>@client.Email</td>
                            @if (client.Gender == "M")
                            {
                                 <td>Male</td>
                            } else
                            {
                                <td>Female</td>
                            }
                            <td>@client.Martial_Status.Description</td>
                            <td>@client.Birthdate.ToString("dd/MM/yyyy")</td>
                            <td style="width:25%;">
                                <a 
                                    href="/Client/NewClient?Client_Id=@client.Client_Id"
                                    class="btn btn-warning text-white btn-gral"
                                    title="Button to edit customer data"
                                >
                                    Edit
                                </a>
                                <a 
                                    href="/Client/ConsultClient?Client_Id=@client.Client_Id"
                                    class="btn btn-primary text-white btn-gral"
                                    title="Button to check customer data"
                                >
                                    Consult
                                </a>
                                <a 
                                    href="/Client/DisableClient?Client_Id=@client.Client_Id"
                                    class="btn btn-danger text-white btn-gral"
                                    title="Button to delete all customer data and records "
                                >
                                    Disable
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Gender</th>
                        <th>Birthdate</th>
                        <th>Martial Status</th>
                        <th>Actions</th>
                    </tr>
                </tfoot>
            </table>
        }
        else
        {
            <table 
                id="table" 
                class="table table-striped table-bordered"
                style="width:100%" 
                title="List of all clients">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Gender</th>
                        <th>Birthdate</th>
                        <th>Martial Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Gender</th>
                        <th>Birthdate</th>
                        <th>Martial Status</th>
                        <th>Actions</th>
                    </tr>
                </tfoot>
            </table>
        }
    }
</div>
<br />
<br />

<script>
    $(document).ready(function () {
        $('#table').DataTable();
    });
</script>
